<div class="row">
  <div class="col-md-12">
    <div class="navbar navbar-default">

      <div class="navbar-header navbar-brand"><%= link_to issues_path do %><span class="glyphicon glyphicon-chevron-left"></span> Back to Issues<% end %></div>

      <% if user_signed_in? %>
      	<div class="ui-group-buttons pull-right" id="vote-menu">
			<%= link_to upvote_issue_path, :class => 'btn btn-success btn-lg', :id => 'upvote-button', :issue_id => @issue.id do %><span class="glyphicon glyphicon-thumbs-up"></span> Yay<% end %>
			<div class="or or-lg"></div>
			<%= link_to downvote_issue_path, :class => 'btn btn-danger btn-lg', :id => 'downvote-button', :issue_id => @issue.id do %><span class="glyphicon glyphicon-thumbs-down"></span> Nay<% end %>
		</div>
	<% end %>

    </div>

  </div>
</div>

<br />


<div class="h2"><%= @issue.title%>
	<small class="issue-meta pull-right">By: <%= @issue.owner_name %> Posted: <%= @issue.created_at %></small>
</div>

<hr />

  <b>Description:</b>
  <%= @issue.description %>
</p>

<p>
  <b>Goal:</b>
  <%= @issue.goal %>
</p>

<p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
